.footer-container{
    background-color: black;
    color: white;
    font-weight: 600;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 16.5%;
}

.footer-icons-container{
    margin-left: auto;
    margin-right: 30%;
    display: flex;
    align-items: center;
}

.footer-icons{
    fill: white;
}
.footer-icons:hover{
    fill: white!important;
}